{% extends 'base.html' %}
{% block subtitle %}
    <center> Mudar senha </center>
{% endblock subtitle %}
{% load i18n %}
{% block titulo %}{% trans "Mudar senha" %} - {{ block.super }}{% endblock %}
{% block h1 %}{% trans "Mudar senha" %}{% endblock %}
{% block conteudo %}{{ block.super }}
<form method="post">{% csrf_token %}
 <table class="form">
  {{ form }}
  <tr>
   <th>&nbsp;</th>
   <td><input type="submit" value="{% trans "Mudar senha" %}"/></td>
  </tr>
 </table>
</form>
{% endblock conteudo %}
